{% extends "layouts/layout.html" %}

{% block layoutarea %}
<div class="container">
    <h2>PSC - Dashboard Page</h2>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr class="text-center">
                <th scope="col">Id</th>
                <th scope="col">Adı</th>
                <th scope="col">Soyadı</th>
                <th scope="col">Departman</th>
                <th scope="col">E-Posta</th>
                <th scope="col">İçerik Oku</th>
            </tr>
        </thead>
        <tbody>
            {% for i in personel %}
                <tr class="text-center">
                    <th scope="row">{{i.id}}</th>
                    <td>{{i.name}}</td>
                    <td>{{i.surname}}</td>
                    <td>{{i.dept}}</td>
                    <td>{{i.email}}</td>
                    <td><a href="/readPage/{{i.id}}" class="btn btn-success">Oku</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



</div>


{% endblock layoutarea %}